{{#each reviews as |review|}}
<div class="reviews" data-id="{{review.id}}">
 <form class = "delete-edit">
   <input type="hidden" name="review[id]" value="{{review.id}}">
 <h4>Comment</h4>
    <input type='text' class='reviewcomment' name='review[comment]' value="{{comment}}">
    <h4>How hoppy was it?</h4>
     <input type='text' class='reviewrating' name='review[rating]' value="{{rating}}">
     <div>
    <button class="delete-reviews" type="click">DELETE</button>
  </div>
    <input class="edit-reviews" type="submit" value="EDIT">
  </form>
</div>
<div class="beer" data-id="{{review.beer.id}}">
<h4>Beer:{{review.beer.name}}</h4>
<h4>Type:{{review.beer.beer_type}}</h4>
<h4>Description:{{review.beer.description}}</h4>
{{/each}}
