<div class="beer" data-id="{{review.beer.id}}">
<h4>Beer:{{review.beer.name}}</h4>
<h4>Type:{{review.beer.beer_type}}</h4>
 <h4>Description:{{review.beer.description}}</h4>



{{#each reviews as |review|}}
<div class="reviews" data-id="{{review.id}}">
  <form class = "delete-edit">
    <div class="reviews" data-id="{{review.id}}">
  <h2>Review</h2>
  <h2>Comments</h2>
  <h4>{{comment}}</h4>
  <h2>How hoppy was it?</h2>
  <h4>{{rating}}</h4>
  <div>
     <button class="delete-reviews" type=button data-id="{{review.id}}">DELETE</button>
   </div>
   <div>
     <input class="edit-reviews" type="submit" value="EDIT">
   </div>
   </form>
</div>
<div class="beer" data-id="{{review.beer.id}}">
<h4>Beer:{{review.beer.name}}</h4>
<h4>Type:{{review.beer.beer_type}}</h4>
 <h4>Description:{{review.beer.description}}</h4>
{{/each}}
