{{#if reviews}}
{{#each reviews as |review|}}
    <div class="reviewslist" data-id="{{review.id}}">
  <h2>Review</h2>
  <h2>Comments</h2>
  <h4>{{comment}}</h4>
  <h2>How hoppy was it?</h2>
  <h4>{{rating}}</h4>
  <div>
    <div class="beer" data-id="{{review.beer.id}}">
    <h4>Beer:{{review.beer.name}}</h4>
    <h4>Type:{{review.beer.beer_type}}</h4>
     <h4>Description:{{review.beer.description}}</h4>
     <button class="delete-reviews" type="button" data-id="{{review.id}}">DELETE</button>
   </div>
   <br>
     <button class="select-review" data-id="{{review.id}}">Select to Edit your Review.</button>
</div>
</div>
</div>
{{/each}}
{{else}}
<h4>No Reviews, please go to Local Breweries to select a tasty beverage to review!</h4>
{{/if}}
